*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 200px auto;
}



.button{
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #f1356d;
    color: #fff;
    font-size: 18px;
    margin: 20px 0;
    margin-left: 20px;
}

.button:hover{
    background-color: #f35282;
}

#output{
    display: none;
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
    background-color: #f4f4f4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#add_user{
    display: none; 
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
    background-color: #f4f4f4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#add_user input{
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.successMessage{
    display: none; 
}

.inf{
    display: none;
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
    background-color: #f4f4f4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 50%;
    
 
}

.inf h2{
    margin-bottom: 20px;
    color: #333;
    font: 1em sans-serif;
    display: flex;
    
}

.inf p{
    margin-bottom: 20px;
    color: #333;
    font: 1em sans-serif;
    display: flex;
}

#delete_user{
    display: none; 
    width: 50%;
    height: 300px;
    overflow-y: auto; /* Enable vertical scrolling if needed */
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
    background-color: #f4f4f4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    
}


#delete_user button{
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #f1356d;
    color: #fff;
    font-size: 18px;
    margin: 20px 0;
    margin-left: 20px;
}

#delete_user button:hover{
    background-color: #f35282;
}

#delete_user div{

    display: flex;
    flex-direction: column;
  
}

